#gamesInSession{
    width: 60%;
    /*padding-left: 5%;*/
    /*padding-left: 5%;*/
}

.columnofGames{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rowofGames{
    display: flex;
    flex-direction: row;
    height: 100%;
}
