#gamesInSession{
    background: lightseagreen;
}
.columnofGames{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rowofGames{
    display: flex;
    flex-direction: row;
    height: 100%;
}
