html, body{
  height: 100%;
}
  
#mainDashboard{
    display: flex;
    flex-direction: row-reverse;
    /*height: 100%;*/
    overflow: auto;
    height: 100%;
}

.section{
    border-color: black;
    border-style: solid;
}
/*
#profile{
    width: 20%;
}

#gamesInSession{
    width: 55%;
}

#chatBox{
    width: 25%;
}*/


#root{
    height: 100%;
}
