#mainDashboard{
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.section{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
#root{
    height: 100%;
}
footer {
    color: #888;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    a {
        color: white !important;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }
}
#copyright {
    background-color: #161616;
    padding: 15px 0px;
    border-top: 1px solid rgba(114, 114, 114, 0.25);
    p {
        font-size: 13px;
        text-align: center;
    }
}
