.button{
    cursor: pointer;
    width: 300px;
    height: 45px;
    font-size: 20px;
}

#loginForm{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
}

#loginImage{
    margin-left: 23%;
}

#welomeText{
    font-size: 20px;
}
