#profileInfo{
    width: 15%;
    max-width: 250px;
}

.avatar{
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.avatarImage {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 27px;
    margin-right: 25px;
}

.avatarImage img{
    max-width: 150px;
    max-height: 150px;
}

.userName{
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    padding-left: 20px;
}
