#profileInfo{
    width: 15%;
    max-width: 250px;

}

.avatar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    border-width: thin;
}

.avatarImage {
    width:150px;
    height:150px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
}

.avatarImage img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}

.userName{
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    padding-left: 20px;
}
